{% extends "base.html" %}

{% block content %}
    
{% if request.user == article.author %}
    <a href="{% url 'blog:article_delete' article.publish.year article.publish.month article.publish.day article.slug %}">Delete</a>
    <a href="{% url 'blog:article_edit' article.publish.year article.publish.month article.publish.day article.slug %}">Edit</a>
{% endif %}

    <!-- Detail -->
    <p>{{ article.title }}</p>
    <small>{{ article.publish }}</small>
    <p>{{ article.description }}</p>

    <hr>

    <!-- Like -->
    {% if request.user.is_authenticated %}
        <a href="{% url 'blog:article_like' article.id %}" class="{% if can_like %}disabled{% endif %}">
            Like {{ article.likes_count }}
        </a>
        <!-- Comment Form -->
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form>
        <br/>
    {% else %}
        <p class="alert alert-danger">Only logged in users can comment.</p>
    {% endif %}
    
    <!-- Instead Comment reply -->
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p>
            <p class="card-body">{{ comment.description }}</p>

            {% if request.user.is_authenticated %}
                <form action="{% url 'blog:add_reply' article.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ reply_form.as_p }}
                    <input type="submit" value="Send">
                </form>
            {% endif %}

            {% if comment.rcomments.all %}
                {% with replies=comment.rcomments.all %}
                    {% for reply in replies %}
                        <p class="bg-primary p-3 m-2">{{ reply.user }} <br/> {{ reply.description }}</p>
                    {% endfor %}
                {% endwith %}
            {% else %}
                <p>No replies yet!</p>
            {% endif %}
        </div>
        <br/>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}

    <!-- Delete and Edit Bottom -->
    <a href=""></a>
    <a href=""></a>
{% endblock %}
